<% layout("layouts/boilerplate.ejs") %>  
<body>
    <%- include("includes/nevbar.ejs")%>
    <div class="content">
        <h1>Welcome to <br><span>SHARE AND SUSTAIN!!</span> </h1>
        <div id="welcome">
            <p>
                <br>
                Turning Surplus into Sustenance
                In a world where some feast in excess, others go to bed hungry every night. At SHARE AND SUSTAIN, we
                believe in a simple yet powerful mission: to bridge the gap between those who have excess and those who
                can't afford even a single meal.
            </p>
            <img src="assets/logo.png" id="logo" alt="logo">
        </div>
    </div>
    <%- include("includes/content.ejs")%>

    <%- include("includes/howitworks.ejs")%>
    <%- include("includes/benifits.ejs")%>
    <%- include("includes/partnership.ejs")%>
    <%- include("includes/contact.ejs")%>

    <%- include("includes/footer.ejs")%>


    
    <div class="signupform">
        <form action="http://localhost:8080/newuser" method="POST">
            <h2>CREATE ACCOUNT</h2>
            <img src="assets/logo.png" alt="img">
            <input type="text" placeholder="Username" name="username" id="username"><br>
            <input type="text" placeholder="Email" name="email" id="email"><br>
            <input type="text" placeholder="Address" name="address" id="address"><br>
            <input type="password" placeholder="Create Password" name="pass1" id="pass1"><br>
            <input type="password" placeholder="Confirm password" name="pass2" id="pass2"><br>
            <button>Sign In</button>
        </form>
    </div>
    <div class="loginform">
        <form action="http://localhost:8080/user" method="POST">
            <h2>LOGIN</h2>
            <img src="assets/logo.png" alt="img">
            <input type="text" placeholder="Email" name="email" id="email"><br>
            <input type="password" placeholder="Password" name="password" id="password"><br>
            <button>Login</button>
        </form>
    </div>
    <div class="close">

    </div>
</body>